body {
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1 {
  font-weight: 700;
  padding-bottom: 3%;
}

footer {
  text-align:center;
  font-weight:400;
}

.intro {
  text-align:left;
  padding: 15% 7%;
}

.form {
  padding: 3%;
  text-align:center;

}

.btn {
  color:white;
  box-shadow: 0 4px 2px #959595;
}

.tryIt-btn {
  font-size: 0.8rem;
  background-color: hsl(248, 32%, 49%) ;
  margin: 5% 0;
}

.tryIt-btn:hover {
  background-color: hsl(249, 10%, 26%);
}

.trial-btn {
  background-color: hsl(154, 59%, 51%);
  font-size: 1rem;
  font-weight: 500;
}

.trial-btn:hover {
  background-color: hsl(246, 25%, 77%);
}

.form-control {
  padding: 1.5rem;
  margin-bottom: 5%;
}

.card {
  padding: 5%;
}

.termsText {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
}

.termsAndServices{
  color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 940px){
  .intro {
    text-align:center;
  }
  .form {
    text-align:center;
    margin: 5%;
  }
  .form-group {
    margin: 4%;
  }
  .tryIt-btn {
    padding: 5%;
    margin: 4%;
    width: 26rem;
  }
}
